h1= name

div.splitter
    div.left
        div.navAlpha
          p Welcome to My Portfolio Site
            | <p style="font-size:10px;"> It will look better at some point. </p>

          a(href="files/RESUME_SPRING2014.pdf").
            My Resume
          br

          a(href='http://www.linkedin.com/pub/vikram-somu/6b/9a8/bb0')
            img(alt="Linkedin", src="images/linkedin.png", style="border: 0px")
          br

          a(href='http://www.github.com/vi-s')
            img(alt="Github", src="images/github.png", style="border: 0px")
          br

        //- use #{name} when not using = sign to set text.
        //- use it whenever your putting it straight into a tag like:
        //- p #{name}'s Projects

        div.navBeta
          p My Projects

          ul
            li
              a(href='http://www.courseassist.co.nr').
                Course Assist
              | 
              a(href="https://github.com/vi-s/gtcw").
                (Source Code)
            li
              | Student Organization Management System
              | 
              a(href="https://github.com/TeamStingers/StudentOrgManager").
                (Source Code)
            li
              | Maple Trainer
              | 
              a(href="https://github.com/vi-s/MapleTrainer")
                | (Source Code)
            li
              | GT Port
              | 
              a(href="https://github.com/vi-s/gtport")
                | (Source Code)
            li
              | Twitter Clone (Hartl Tutorial)
              | 
              a(href="https://github.com/vi-s/sample_app")
                | (Source Code)
            li
              | Seed Trading Web Application
              | 
              a(href="https://code.google.com/p/seedbank/")
                | (Source Code)


    div.right
        div.crazy
          p My Blog...



