extends layout

block mainContent
  h1= name

  div.splitter
      div.left
          div.navAlpha
            p Welcome to My Portfolio Site
              | <p style="font-size:8px;"> It will look better at some point. </p>

            a(href="RESUME_SPRING2014.pdf").
              resume

            | /<a href="mailto:vs19@gatech.edu">email</a> <br/>
            br

            a(href='http://www.linkedin.com/pub/vikram-somu/6b/9a8/bb0')
              img(alt="Linkedin", src="img/linkedin.png", style="border: 0px")
            br

            a(href='http://www.github.com/vi-s')
              img(alt="Github", src="img/github.png", style="border: 0px")
            br

          //- use #{name} when not using = sign to set text.
          //- use it whenever your putting it straight into a tag like:
          //- p #{name}'s Projects

          div.navBeta
            p
              |I'm a cs major at georgia tech graduating in december/2014.
              br
              |You can contact me at vs19 AT gatech DOT edu

            |My Projects
            ul
              li
                  | Course Monitoring Application | node.js/mongodb | (
                  a(href='http://www.gtcoursewatch.us').
                    gtcoursewatch.us
                  |) (
                  a(href="https://github.com/vi-s/gtcw")
                    |Source Code
                  |)
              li
                | Student Organization Management System | android/node.js/mysql | (
                a(href="https://github.com/TeamStingers/StudentOrgManager")
                  |Source Code
                |) 
              li
                | GTPort | php/mysql | (
                a(href="https://github.com/vi-s/gtport")
                  |Source Code
                |)
              li
                | Maple Trainer | c++ | (
                a(href="https://github.com/vi-s/MapleTrainer")
                  |Source Code
                |)
              li
                | Twitter Clone (Hartl Tutorial) | ruby on rails | (
                a(href="https://github.com/vi-s/sample_app")
                  |Source Code
                |)
              li
                | Seed Trading Web Application | grails | (
                a(href="https://code.google.com/p/seedbank/")
                  |Source Code
                |)



      div.right
          div.crazy
            p My Blog...
              |Some Pictures I really like:

            div            
              a(href="img/HiddenLake_GlacierNationalPark.jpg", data-lightbox="hiddenLake", title="Hidden Lake - Glacier National Park")
                |<img src="http://www.makeathumbnail.com/thumbnails/image247964.jpg" alt="Hidden Lake" />
              br
              a(href="img/MarbleCaves_Chile.jpg", data-lightbox="marbleCaves", title="Marble Caves - Chile")
                |<img src="http://www.makeathumbnail.com/thumbnails/image247965.jpg" alt="Marble Caves" />
              br
              a(href="img/seaofstars.jpg" data-lightbox="seaOfStars", title="Sea of Stars - Vaadhoo Island")
                |<img src="http://www.makeathumbnail.com/thumbnails/image247966.jpg" alt="Sea of Stars" />

            //- img(src="img/HiddenLake_GlacierNationalPark.jpg", style="border: 0px")




